@import "screen";
@import "partials/normalize-custom";
@import "partials/fonts";

//@import "blueprint/liquid";

@import "compass/css3/box-sizing";

@import "compass/typography";
$base-font-size: 12px;
$base-line-height: 18px;
@include establish-baseline();

#wrapper {
	@include container;
	width: 99%;
	//@include showgrid;
}

h1 {
	@include adjust-font-size-to(20px);
	margin: (18/20 * 1em) 0 0 0;
}
h2 {
	@include adjust-font-size-to(16px);
	line-height: 36px;
	margin: (18/16 * 1em) 0 0 0;
}
h3 {
	@include adjust-font-size-to(13px);
	margin: (18/13 * 1em) 0 0 0;
}
h4 {
	@include adjust-font-size-to(12px);
	margin: (18/12 * 1em) 0 0 0;
}
h5 {
	@include adjust-font-size-to(12px);
	margin: (18/12 * 1em) 0 0 0;
}
h6 {
	@include adjust-font-size-to(12px);
	margin: (18/12 * 1em) 0 0 0;
}
p {
	@include leader();
	@include trailer();
}




$dark-gray: #343537;
$light-gray: #e0e0e0;
$white: #ffffff;

* {
	@include box-sizing("border-box");
}

ul, ol {
	margin: 0;
	padding: 0 0 0 18px;
}

pre {
	padding: 0 $base-line-height;
}

/* Top Menu */
#top-menu {
	background: $dark-gray;
	color: $light-gray;
	@include adjust-font-size-to(10px);
	height: 3.6em;
	padding: 9px 0;

	& > ul {
		@include prepend(1);
	}

	li {
		float: left;
		margin: {
			right: $blueprint-grid-margin;
		}
		list-style-type: none;
	}

	a {
		color: $light-gray;
		text-decoration: none;
		&:hover {
			color: $white;
		};
	}
}

/* Top Menu - Logged As */
#loggedas {
	float: right;
}

/* Top Menu - Account */
#account {
	float: right;
	margin: {
		right: -10px;
		left: $blueprint-grid-margin;
	}

	& > ul {
		padding: 0;
		@include append(1);
	}
}

/* Header */
#header {
	@include prepend(1);
	@include append(1);
}

/* Header - Main Menu */
#main-menu {
	li {
		float: left;
		list-style-type: none;
	}

	a {
		text-decoration: none;
	}
}

/* Main */
#main {
	@include prepend(1);
	@include append(1);
}

/* Main - Sidebar */
#sidebar {
	@include column(6, true);
	@include float-right;
}

/* Main - Content */
#content {
	@include column(14);
	width: 70%;
}

/* Main - Content - Activity */
#activity {
	dt {
		margin: 1.5em 0 0 0;
		span {
			@include column(2);
		}
	}
	dd {
		@include prepend(2);
		.author {
			display: block;
		}
	}
}

/* Footer */
#footer {
	display: none;
}

@import "partials/code-ray";









#quick-search, .contextual img {
	display: none;
}
