///***** Links *****/
//a, a:link, a:visited{ color: #169; text-decoration: none; }
//a:hover, a:active{ color: #c61a1a; text-decoration: underline;}
//a img{ border: 0; }
//
//a.issue.closed, a.issue.closed:link, a.issue.closed:visited { color: #999; text-decoration: line-through; }
//a.project.closed, a.project.closed:link, a.project.closed:visited { color: #999; }
//
//#sidebar a.selected {line-height:1.7em; padding:1px 3px 2px 2px; margin-left:-2px; background-color:#9DB9D5; color:#fff; border-radius:2px;}
//#sidebar a.selected:hover {text-decoration:none;}
//#admin-menu a {line-height:1.7em;}
//#admin-menu a.selected {padding-left: 20px !important; background-position: 2px 40%;}
//
//a.collapsible {padding-left: 12px; background: url(../images/arrow_expanded.png) no-repeat -3px 40%;}
//a.collapsible.collapsed {background: url(../images/arrow_collapsed.png) no-repeat -5px 40%;}
//
//a#toggle-completed-versions {color:#999;}