///***** Progress bar *****/
//table.progress {
//  border-collapse: collapse;
//  border-spacing: 0pt;
//  empty-cells: show;
//  text-align: center;
//  float:left;
//  margin: 1px 6px 1px 0px;
//}
//
//table.progress td { height: 1em; }
//table.progress td.closed { background: #BAE0BA none repeat scroll 0%; }
//table.progress td.done { background: #D3EDD3 none repeat scroll 0%; }
//table.progress td.todo { background: #eee none repeat scroll 0%; }
//p.pourcent {font-size: 80%;}
//p.progress-info {clear: left; font-size: 80%; margin-top:-4px; color:#777;}
//
//#roadmap table.progress td { height: 1.2em; }