///* Project members tab */
//div#tab-content-members .splitcontentleft, div#tab-content-memberships .splitcontentleft, div#tab-content-users .splitcontentleft { width: 64% }
//div#tab-content-members .splitcontentright, div#tab-content-memberships .splitcontentright, div#tab-content-users .splitcontentright { width: 34% }
//div#tab-content-members fieldset, div#tab-content-memberships fieldset, div#tab-content-users fieldset { padding:1em; margin-bottom: 1em; }
//div#tab-content-members fieldset legend, div#tab-content-memberships fieldset legend, div#tab-content-users fieldset legend { font-weight: bold; }
//div#tab-content-members fieldset label, div#tab-content-memberships fieldset label, div#tab-content-users fieldset label { display: block; }
//div#tab-content-members fieldset div, div#tab-content-users fieldset div { max-height: 400px; overflow:auto; }
//
//#users_for_watcher {height: 200px; overflow:auto;}
//#users_for_watcher label {display: block;}
//
//table.members td.group { padding-left: 20px; background: url(../images/group.png) no-repeat 0% 50%; }
//
//input#principal_search, input#user_search {width:100%}
//input#principal_search, input#user_search {
//  background: url(../images/magnifier.png) no-repeat 2px 50%; padding-left:20px;
//  border:1px solid #9EB1C2; border-radius:3px; height:1.5em; width:95%;
//}
//input#principal_search.ajax-loading, input#user_search.ajax-loading {
//  background-image: url(../images/loading.gif);
//}
//
//* html div#tab-content-members fieldset div { height: 450px; }