///***** Tabular forms ******/
//.tabular p{
//  margin: 0;
//  padding: 3px 0 3px 0;
//  padding-left: 180px; /* width of left column containing the label elements */
//  min-height: 1.8em;
//  clear:left;
//}
//
//html>body .tabular p {overflow:hidden;}
//
//.tabular label{
//  font-weight: bold;
//  float: left;
//  text-align: right;
//  /* width of left column */
//  margin-left: -180px;
//  /* width of labels. Should be smaller than left column to create some right margin */
//  width: 175px;
//}
//
//.tabular label.floating{
//  font-weight: normal;
//  margin-left: 0px;
//  text-align: left;
//  width: 270px;
//}
//
//.tabular label.block{
//  font-weight: normal;
//  margin-left: 0px !important;
//  text-align: left;
//  float: none;
//  display: block;
//  width: auto;
//}
//
//.tabular label.inline{
//  float:none;
//  margin-left: 5px !important;
//  width: auto;
//}
//
//label.no-css {
//  font-weight: inherit;
//  float:none;
//  text-align:left;
//  margin-left:0px;
//  width:auto;
//}
//input#time_entry_comments { width: 90%;}
//
//#preview fieldset {margin-top: 1em; background: url(../images/draft.png)}
//
//.tabular.settings p{ padding-left: 300px; }
//.tabular.settings label{ margin-left: -300px; width: 295px; }
//.tabular.settings textarea { width: 99%; }
//
//.settings.enabled_scm table {width:100%}
//.settings.enabled_scm td.scm_name{ font-weight: bold; }
//
//fieldset.settings label { display: block; }
//fieldset#notified_events .parent { padding-left: 20px; }
//
//span.required {color: #bb0000;}
//.summary {font-style: italic;}
//
//#attachments_fields input.description {margin-left: 8px; width:340px;}
//#attachments_fields span {display:block; white-space:nowrap;}
//#attachments_fields img {vertical-align: middle;}
//
//div.attachments { margin-top: 12px; }
//div.attachments p { margin:4px 0 2px 0; }
//div.attachments img { vertical-align: middle; }
//div.attachments span.author { font-size: 0.9em; color: #888; }
//
//div.thumbnails {margin-top:0.6em;}
//div.thumbnails div {background:#fff;border:2px solid #ddd;display:inline-block;margin-right:2px;}
//div.thumbnails img {margin: 3px;}
//
//p.other-formats { text-align: right; font-size:0.9em; color: #666; }
//.other-formats span + span:before { content: "| "; }
//
//a.atom { background: url(../images/feed.png) no-repeat 1px 50%; padding: 2px 0px 3px 16px; }
//
//em.info {font-style:normal;font-size:90%;color:#888;display:block;}
//em.info.error {padding-left:20px; background:url(../images/exclamation.png) no-repeat 0 50%;}
//
//textarea.text_cf {width:90%;}