@import url(normalize.css);
@import url(../fonts/stylesheet.css);
html {
  font-family: OpenSansRegular;
  font-size: 12px; }

b, strong {
  font-family: OpenSansBold;
  font-weight: normal; }

i, em {
  font-family: OpenSansItalic;
  font-weight: normal; }

code,
kbd,
pre,
samp {
  font-family: BitstreamVeraSansMonoRoman;
  font-size: 1em; }

/************* CodeRay styles *************/
pre {
  background: #272822;
  color: #F8F8F2; }

.syntaxhl .attribute-name {
  color: #A6E22E; }

.syntaxhl .class {
  color: #A6E22E; }

.syntaxhl .comment {
  color: #75715E; }

.syntaxhl .comment .char {
  color: #75715E; }

.syntaxhl .comment .delimiter {
  color: #75715E; }

.syntaxhl .float {
  color: #AE81FF; }

.syntaxhl .function {
  color: #A6E22E; }

.syntaxhl .hex {
  color: #AE81FF; }

.syntaxhl .integer {
  color: #AE81FF; }

.syntaxhl .keyword {
  color: #F92672; }

.syntaxhl .local-variable {
  color: #F8F8F2; }

.syntaxhl .octal {
  color: #AE81FF; }

.syntaxhl .predefined-constant {
  color: #AE81FF; }

.syntaxhl .predefined-type {
  color: #66D9EF; }

.syntaxhl .string .char {
  color: #E6DB74; }

.syntaxhl .string .content {
  color: #E6DB74; }

.syntaxhl .string .delimiter {
  color: #E6DB74; }

.syntaxhl .string .modifier {
  color: #E6DB74; }

.syntaxhl .tag {
  color: #F92672; }
